// ---- ---- reset ---- ---- //
@import 'slick.scss';
@import 'jquery.fancybox.scss';
@import 'normalize.scss';
@import 'myreset.scss';

// ---- ---- fonts ---- ---- //
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Inter:wght@300;400;700;800&display=swap');
// font-family: 'Comfortaa', cursive; (400;700)
// font-family: 'Inter', sans-serif; (300;400;700;800)

// ---- ---- colors ---- ---- //
$color_main: #ffffff;
$color_accent: #0093a1;
$color_light: #ffffff;
$color_dark: #262c27;
$color_hover: #b9c400;
$color_text: #262c27;

// ---- ---- main ---- ---- //
body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: $color_text;
}
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.logo path {
  transition: 0.3s ease;
}
.logo:hover path {
  fill: $color_accent;
}
.btn {
  text-transform: uppercase;
  transition: 0.3s ease;
  &:hover {
    color: $color_text;
    background-color: $color_hover;
    border: none;
  }
}
.popup-btn {
  display: block;
  text-align: center;
  color: $color_main;
  span {
    display: block;
    margin-top: 12px;
  }
}
.phone {
  transition: 0.3s ease;

  &:hover {
    color: $color_hover;
  }
}
.title {
  &__h1 {
    font-size: 64px;
    line-height: 72px;
    color: $color_main;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
  }
  &__h3 {
    font-family: 'Comfortaa', cursive;
    font-size: 60px;
    font-weight: 400;
    line-height: 67px;
    color: $color_main;
  }
}

// ---- ---- ---- ---- ---- //
.header {
  background-image: url(../images/bg/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin-bottom: 80px;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  transition: 0.3s ease;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 456px;
    background-image: url(../images/bg/bg-decor-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(40%);
    z-index: 2;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 456px;
    background-image: url(../images/bg/bg-decor-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(76%) rotate(180deg);
    z-index: 3;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 57px 0;
    gap: 100px;
  }
  &__btn {
    padding: 12px 72px 8px;
    color: $color_main;
    background-color: $color_dark;
  }
  &__phone {
  }
  &__content {
    position: relative;
    min-height: calc(100vh - 250px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__content-box {
    max-width: 550px;
    text-align: center;
    margin-right: 30px;
  }
  &__text {
    font-size: 24px;
    line-height: 27px;
    color: $color_main;
    margin-bottom: 20px;
  }
  &__decor-text {
    position: absolute;
    bottom: -110px;
    font-size: 130px;
    font-weight: 400;
    line-height: 145px;
    color: $color_accent;
    opacity: 0.3;
  }
  &__decor-text--one {
    right: 125px;
    bottom: 0px;
    z-index: 1;
  }
  &__decor-text--two {
    left: 240px;
    z-index: 4;
  }
  &__decor-text-three {
    max-width: 360px;
    right: 125px;
    bottom: -90px;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 39px;
    font-style: italic;
    text-align: center;
    opacity: 1;
    z-index: 4;
  }
}

.main {
}
.info {
  background-image: url(../images/bg/bg-content.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: 130px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateY(-120px);
    background-color: $color_dark;
  }
  &__inner {
    color: $color_main;
  }
  &__top {
    display: flex;
    gap: 80px;
    padding-top: 100px;
    margin-bottom: 70vh;
  }
  &__text {
    max-width: 290px;
    padding-top: 245px;
    &:nth-child(2) {
      border-bottom: 1px solid $color_main;
    }
  }
  &__btn-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 95px;
  }
  &__btn {
  }
  &__img {
    z-index: 4;
  }
  &__specs {
    display: flex;
    align-items: center;
    gap: 130px;
    padding-bottom: 50px;
  }
  &__title {
    width: 250px;
    font-weight: 700;
  }
  &__specs-list {
    font-weight: 700;
    width: 565px;
    border-top: 1px solid $color_main;
    border-bottom: 1px solid $color_main;
    padding: 30px 0;
  }
  &__specs-item {
    display: flex;
    gap: 25px;
    margin-bottom: 15px;
  }
  &__specs-caption {
    width: 180px;
  }
  &__specs-text {
  }
}

.buy {
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
  }
  &__text-box {
  }
  &__title {
    color: $color_accent;
  }
  &__text {
    margin-bottom: 25px;
    span {
      display: block;
      font-weight: 700;
      margin-bottom: 5px;
    }
  }
  &__text--accent {
    color: $color_accent;
  }
  &__price {
  }
  &__btn {
    color: $color_accent;
    border: 2px solid $color_accent;
    padding: 18px 195px 17px;
  }
  &__img {
  }
}

// ---- ---- media ---- ---- //
@media (max-width: 360px) {
}
