// ---- ---- reset ---- ---- //
@import 'slick.scss';
@import 'jquery.fancybox.scss';
@import 'normalize.scss';
@import 'myreset.scss';

// ---- ---- fonts ---- ---- //
@font-face {
}

// ---- ---- colors ---- ---- //
$color_main: #ffffff;
$color_hover: #036cca;
$color_grey: #e5e5e5;
$color_red: #cb0e0e;
$color_black: #010203;

// ---- ---- main ---- ---- //

// ---- ---- media ---- ---- //
@media (max-width: 360px) {
}
