// ---- ---- reset ---- ---- //
@import 'slick.scss';
@import 'jquery.fancybox.scss';
@import 'normalize.scss';
@import 'myreset.scss';

// ---- ---- fonts ---- ---- //
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Inter:wght@300;400;700;800&display=swap');
// font-family: 'Comfortaa', cursive; (400;700)
// font-family: 'Inter', sans-serif; (300;400;700;800)

// ---- ---- colors ---- ---- //
$color_main: #ffffff;
$color_accent: #0093a1;
$color_light: #ffffff;
$color_dark: #262c27;
$color_hover: #b9c400;
$color_text: #262c27;

// ---- ---- main ---- ---- //
body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: $color_text;
}
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.logo path {
  transition: 0.3s ease;
}
.logo:hover path {
  fill: $color_accent;
}
.btn {
  text-transform: uppercase;
  transition: 0.3s ease;
  &:hover {
    color: $color_text;
    background-color: $color_hover;
  }
}
.phone {
  transition: 0.3s ease;

  &:hover {
    color: $color_hover;
  }
}
.title {
  &__h1 {
    font-size: 64px;
    line-height: 72px;
    color: $color_main;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

// ---- ---- ---- ---- ---- //
.header {
  background-image: url(../images/bg/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  transition: 0.3s ease;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 456px;
    background-image: url(../images/bg/bg-decor-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(40%);
    z-index: 2;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 456px;
    background-image: url(../images/bg/bg-decor-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(76%) rotate(180deg);
    z-index: 3;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 57px 0;
    gap: 100px;
  }
  &__btn {
    padding: 12px 72px 8px;
    color: $color_main;
    background-color: $color_dark;
  }
  &__phone {
  }
  &__content {
    position: relative;
    min-height: calc(100vh - 200px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__content-box {
    max-width: 550px;
    text-align: center;
    margin-right: 30px;
  }
  &__text {
    font-size: 24px;
    line-height: 27px;
    color: $color_main;
    margin-bottom: 20px;
  }
  &__decor-text {
    position: absolute;
    bottom: 0;
    font-size: 130px;
    font-weight: 400;
    line-height: 145px;
    color: $color_accent;
    opacity: 0.3;
  }
  &__decor-text--one {
  }
  &__decor-text--two {
  }
  &__decor-text-three {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 300;
    line-height: 39px;
    font-style: italic;
    text-align: center;
    opacity: 1;
  }
}

// ---- ---- media ---- ---- //
@media (max-width: 360px) {
}
